@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Oswald&display=swap');

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: white;
}

.logo {
  width: 90px;
  display: flex;
}

.barradetareas {
  background-color: black;
  height: 110px;
  box-shadow: 2px 4px 30px 0 black;
  border-radius: 10px;
}

.titulo {
  color: white;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: -20px;
  left: 110px;

}

.comentarios {
  position: absolute;
  top: 80px;
  left: 1000px;
}

.idioma {
  position: absolute;
  top: 75px;
  left: 1100px;
}

.perfil {
  position: absolute;
  top: 75px;
  left: 92%;

}

.logitos {
  background-color: black;
  border: none;
}

.primera-parte {
  background-image: url("https://th.bing.com/th/id/R.04c079fd8681c81a470c0f6228845fb4?rik=EUyHp1ljK8pwNw&pid=ImgRaw&r=0    ");
  background-repeat: no-repeat;
  background-size: cover;

}

.nosotros {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 60px;
  margin: 1px 100px;
}

.mapita {
  width: 400px;
  margin: 1px 110px;

}

.porquenosotros {
  width: 400px;
  font-size: 36px;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  top: 200px;
  left: 750px;
}

.destino {
  background: white;
  border: 2px;
  padding: 20px 60px;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.formulario {
  position: absolute;
  top: 50px;
  left: 400px;
  z-index: 10000;
}

.botondestino {
  background: white;
  border: 2px;
  ;
  padding: 20px 40px;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;


}

.segunda-parte {
  background-image: url("https://th.bing.com/th/id/R.3eec2eb6bf26cfe3ffe9a5c24ac90a89?rik=yeg9thvprMlTNQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-2mVWhcUZV1A%2fUJKMWUELFkI%2fAAAAAAAAR38%2fea3GUmpEtPI%2fs1600%2fdesiertos%2b(12).jpg&ehk=ghgIE5eGcLisDdkb4HuYEzu5lrMGMOuvGiWfRVOVKC4%3d&risl=&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 20px -10px #000000;
  padding: 40px;
}

.iniciar-sesion {
  background-color: black;
  height: 600px;
  width: 800px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 50px;
}

.Unetenos {
  color: white;
  font-size: 50px;
  text-align: center;
}

#label {
  color: white;
  text-align: center;
  position: relative;
  left: 10%;
  font-family: 'Roboto Mono', monospace;


}

.Unetenos2 {
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;


}

input.inputs-ingreso {
  background-color: rgb(0, 0, 0);
  display: flex;
  border: none;
  border-bottom: 2px solid rgb(98, 98, 98);
  padding: 20px 70px;
  font-family: 'Roboto Mono', monospace;
  margin: 20px;
  color: white;

}

input.inputs-ingreso:focus {
  border: none;

}

input.inputs-ingreso:valid {
  background-color: #000000;

}

.input2 {
  position: absolute;
  top: 208px;
  left: 400px;
}

.input4 {
  position: absolute;
  top: 322px;
  left: 400px;
}

.boton {
  padding: 20px 81px;
  position: absolute;
  top: 470px;
  left: 420px;
  font-size: 20px;
  background-color: #66DA43;
  border: none;
  cursor: pointer;

}

.ayuda {
  background-color: #000000;
  border: none;
  cursor: pointer;
  color: white;
}

.inicio {
  background-color: #000000;
  border: none;
  cursor: pointer;
  color: white;
}

.botones-secundarios {
  margin: 15px;
}

.sombras {
  width: 100%;
  height: 10px;
  box-shadow: 0px 80px 40px 10px #000000;
  position: relative;
  top: -63px;
}

.comillas-dobles {
  width: 200px;
  background-color: #000000;

}

.tercera-parte {
  position: relative;
  top: -21px;
}

.co1 {
  color: white;
  background-color: #FFD933;
  height: 450px;
  width: 420px;
  float: left;
  width: 33.4%;
  height: 395px;
  text-align: center;
  font-size: 24px;
  font-family: 'Oswald', monospace;


}

.co2 {
  color: white;
  background-color: #000000;
  height: 450px;
  width: 420px;
  float: left;
  width: 32.9%;
  height: 395px;
  text-align: center;
  font-size: 24px;
  font-family: 'Oswald', monospace;


}

.co3 {
  background-color: #FF4040;
  color: white;
  height: 450px;
  width: 420px;
  float: left;
  ;
  width: 33.7%;
  height: 395px;
  text-align: center;
  font-size: 24px;
  font-family: 'Oswald', monospace;

}

/* no me funciona nose porque*/
.comenta {
  transition: all 5s ease;
}

.pie-de-pagina {
  background-color: #000000;
  color: white;
  text-align: center;
  font-family: 'Roboto Mono', monospace;

}

.h1-pie {
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.direccion {
  position: relative;
  top: 100px;
  left: -400px;
}

.contacto {
  position: relative;
  top: -22px;

}

.abierto {
  position: relative;
  top: -145px;
  left: 900px;
  width: 300px;
}